/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
 font-family:'Roboto', sans-serif;
 font-size:1.3rem;
}

h1 {
  font-size:3rem;
}
.container {
  width:80%;
  margin:0 auto;
  max-width:1100px;
 
}

 .hero {
   padding: 100px 0;
   background-color: #23424A;
   color:#FFF;
     
 }

.hero p {
  margin-bottom:3em;
}
 

.hero__text {
  width:60%;
}

.btn {
  display:inline-block;
  background-color:#38CFD9;
  padding:.75em 2em;
  border-radius:100px;
  text-decoration:none;
  color: #23424A;
text-transform:uppercase;
font-weight:900;
}

.btn:hover,
.btn:focus {
  opacity:.75;
  transform:Scale(1.05);
}